@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.highlight {
     text-shadow: -1px -1px 0 $black, 1px -1px 0 $black, -1px 1px 0 $black, 1px 1px 0 $black;

    &--black { 
        color: $white;
        @include text-outline($black);
    }

    &--white { 
        color: $black;
        border-color: $white; 
        @include text-outline($white);
    }

    &--red { 
        color: $white;
        border-color: $red;
        @include text-outline($red);
     }

}