@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.highlight {
		 color: $white;

		 &__color {
			 
			 &--black { 
				 color: $black;
				}
				
				&--white { 
					color: $white;
				}
				
				&--red { 
        color: $red;
			}
			
		}

		&__border-color {
			 
			&--black { 
				@include text-outline($black);
			 }
			 
			 &--white { 
				 border-color: $white; 
				 @include text-outline($white);
			 }
			 
			 &--red { 
			 border-color: $red;
			 @include text-outline($red);
		 }
		 
	 }
	
	}