@import 'styles/variables.scss';

.cursor {
      z-index: 20;
			pointer-events: none;

		&__main {
			position: fixed;
			top: 0;
			left: 0;
			width: 8px;
			height: 8px;
			background-color: $white;
			transform: translate(-50%, -50%);
			border-radius: 50%;
			z-index: 20;
      border: 2px solid $red;
		}
		
		&__follower {
			position: fixed;
			top: 0;
			left: 0;
			width: 32px;
			height: 32px;
			transform: translate(-50%, -50%);
			border-radius: 50%;
      		border: 2px solid $white;
			z-index: 15;
			background-color: $red;
			transition: all 0.4s ease;

			&--hidden {
				width: 0px;
				height: 0px;
				border: 0;
			}

			&--light {
				width: 64px;
				height: 64px;
				background-color: transparentize($grey, 0.8);
			}

		}
		
	@media (pointer:none), (pointer:coarse) {
		display: none;			
	}
}