@import 'styles/variables.scss';

* {
	cursor: none
}

*::selection {
	background-color: transparentize($red, 0.8);
	color: inherit;
	opacity: 0.20;
}

.section {

	&__inner {
		max-width: 1200px;
		margin: 0 auto;
		padding: 64px;
	}

}

@media (max-width: 650px) {

	.section {

		&__inner {
			padding: 24px;
		}
		
	}

}