* {
    font-family: Inter, sans-serif;
}

.button {
    text-transform: uppercase;
    font-size: 20px;
}

.anchor {
   font-size: 20px;
}

.list-item {
	font-weight: 600;;
	line-height: 1.5;
}

.heading {

	&--h1 { 
		font-size: 72px;
		line-height: 1.2;
		font-weight: 600;
	}

	&--h2 { 
		font-size: 56px;
		line-height: 1.2;
		font-weight: 600;
	}

	&--h3 { 
		font-size: 24px;
		line-height: 1.2;
		font-weight: 600;
	}

}

.logo {
	font-size: 40px;
	font-weight: 600;
}

.launch-countdown .unit__item, 
.staking-countdown .unit__item {
	font-size: 40px;
	font-weight: 800;
}

.mobile-navigation .menu__link {
	font-size: 40px;	
	font-weight: 800;;
}

@media (max-width: 750px) {

	.heading {

	&--h1 { 
		font-size: 48px;
	}

	&--h2 { 
		font-size: 32px;
		line-height: 1.2;
		font-weight: 600;
	}

	&--h3 { 
		font-size: 20px;
		line-height: 1.2;
		font-weight: 600;
	}

}

}
