@import 'styles/variables.scss';

.list-item {
    
    color: $black;
    position: relative;
    left: 24px;
    margin-right: 24px;

    &::before {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $black;
        top: 12px;
        transform: translateY(-50%);
        left: -24px;
    }

    &--red { 
        color: $red; 
        
        &::before {
            background-color: $red;
        }
    }
    
    &--white {
        color: $white;
    
        &::before {
            background-color: $white;
        }

     }

    &--black{
         color: $black; 

         &::before {
            background-color: $black;
        }

    }

}