@import 'styles/variables.scss';

.launch-countdown {
	background-color: $red;

	&__inner {
		padding-top: 120px;
		padding-bottom: 120px;
	}
	
	&__heading {
		color: $white;
		text-align: center;
		margin-bottom: 32px;
	}

	&__counter, .counter {
		width: 100%;
		background-color: red;
		display: grid;
		place-items: center;
	
		&__inner {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-column-gap: 32px;
		}
	
		&__unit, .unit {
			width: 120px;
			height: 80px;
	
			&__container, .container {
				position: relative;
				overflow: hidden;
				height: 100%;
				width: 100%;
				background-color: white;
				margin-bottom: 8px;
			}
	
				&__item, .item { 
					position: absolute;
					left: 0;
					right: 0;
					height: 100%;
					color: black;
					display: grid;
					place-items: center;
					transition: all 0.5s ease-in-out;
					font-family: sans-serif;
					opacity: 0;
					letter-spacing: 4px;
 					text-indent: 4px;
	
					&:nth-child(1) {
						top: -100%;
					}
	
					&:nth-child(2) {
						top: 0%;
						opacity: 1;
					}
	
					&:nth-child(3) {
						top:  100%
					}
	
				}
	
				&__label {
					text-align: center;
					color: white;
					font-family: sans-serif;
				}
				
			}

		}

				@media (max-width: 750px) {

			&__counter, .counter {
				
				&__inner {
					grid-template-columns: 1fr 1fr;
					grid-row-gap: 48px;
				}

			}
	
	}

			@media (max-width: 400px) {

			&__counter, .counter {
				
				&__inner {
					grid-template-columns: 1fr;
				}

			}
	
	}

}