@import 'styles/variables.scss';

.mobile-navigation {
	display: none;
	z-index: 10;
	
	&__inner {
		color: white;
	}
	
	&__bar, .bar {
		position: fixed;
		z-index: 10;
		top: 0;
		right: 0;
		left: 0;
		height: 72px;

		&__inner {
			padding-top: 16px;
			padding-bottom: 16px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			background-color: $black;
		}
		
		&__logo {
			font-size: 24px;
		}

	}

	&__menu, .menu {
		
		&__background-layer {
			position: fixed;
			top: 72px;
			bottom: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: 10;
			transform: scaleX(0);
			transition: all 0.6s ease-in-out;
			transform-origin: right;
			
			&--one { background-color: $red; transition-delay: 0.6s }
			&--two { background-color: $white; transition-delay: 0.4s }
			&--three { background-color: $black; transition-delay: 0.1s }

		}

	}

	&--active {

		& .menu {
		
			&__background-layer {
				transform: scaleX(1);
				
				&--one { background-color: $red; transition-delay: 0.1s }
				&--two { background-color: $white; transition-delay: 0.4s }
				&--three { background-color: $black; transition-delay: 0.6s }
	
			}
	
		}

	}

	@media (max-width: 950px) {
		display: block;
	}

}