@import 'styles/variables.scss';

.button {
	position: relative;
	padding: 8px 48px;
	border-radius: 48px;
	display: block;
	transition: all 0.2s ease-in;
	background-color: $white;
	line-height: 1.5;
	padding-top: 12px;
	border: 2px solid $black;
	position: relative;
	overflow: hidden;
	
	&__link {
		color: $black;
		text-decoration: none;
	}

	&__background-layer {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 1px; 
		height: 1px;
		background-color: transparentize($grey, 0.8);
		position: absolute;
		border-radius: 50%;
		z-index: 5;
		transition: all 0.4s ease;
	}

	&--active {

		.button__background-layer {
			width: 300px;
			height: 300px;
		}

	}

	}